# Flask 환경 설정
FLASK_ENV=development
SECRET_KEY=knkkjy701!xZ9$mP8qR3nF7wE2bV5cL4hS6dG9jK1aU0yT8iO3pQ7rN2eM5vB4xC6zA1wS9fD3gH7k
JWT_SECRET_KEY=AnIEeldAewYSslDMuSOb+smFnQeck9JqT+cEOsj2jgB6NPJ1i9420zFhfyNLKueAk2ohfNumn8Wp7I2T+i2q+A==

# 데이터베이스 설정 (Supabase)
DATABASE_URL=postgresql://postgres.wrrxyiblfxawxurchdhs:Knkkjy701!@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres

# Railway 설정 (프로덕션에서만)
PORT=5000