Flask==3.0.2
gunicorn==21.2.0
Werkzeug==3.0.2
python-dotenv==1.0.0
psycopg2-binary==2.9.7
flask-cors==6.0.1
flask-jwt-extended==4.7.1
PyJWT==2.10.1
Jinja2==3.1.4
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.2.1
blinker==1.9.0